<div class="row">
  <div class="col-md-3">Ders Ekle</div>
  <div class="col-md-3">Ders Listesi</div>
  <div class="col-md-3">Ders Adedi</div>
</div>
<div class="row">
  <div class="col-md-3" style="background-color: antiquewhite;">
    <app-lesson-create></app-lesson-create>
  </div>
  <div class="col-md-3" style="background-color: darkgrey">
    <app-lesson-read></app-lesson-read>
  </div>
  <div class="col-md-3" style="background-color: ghostwhite">
    <app-lesson-count></app-lesson-count>
  </div>
</div>